body {
    margin: 0px;
    padding: 0px;
}


/*registration page*/


#reg_img {
    background-size: cover;
    width: 98%;
    height: 400px;
/*    margin-top: 15%;*/
position: absolute;
    opacity: 0.8;
}

.reg_text {
    color: #fcc427;
    font-size: 2.0em;
    font-family: cursive;
    margin-top: 20%;
    margin-left: 10%;
    position: relative;
    text-align: center;
}

.reg_logo {
    width: 100%;
    height: 60px;
}

#reg_form {
    color: #fcc427;
    font-size: 0.8em;
    text-align: center;
    font-family: cursive;
}

#reg_box {
    height: 400px;
    background-color: #000;
/*    margin-top: 10%;*/
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    
    
}

.btn-primary {
    padding: 8px 30px;
}

#login_box {
    background-color: #fcc427;
    margin-top: 10%;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    height: 250px;
}


/*home page*/

navbar-header {
    color: #000000;
    height: auto
}

.nav ul li a {
    background-color: #fcc427;
    margin: 5px;
    font-size: 1em;
    font-family: cursive;
}

.navbar-inverse .navbar-nav li a {
    color: #1e1e1e;
    font-size: 1em;
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    color: #fcc427;
    font-family: cursive;
    font-size: 2em;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
    background-color: #fcc427;
}

.logo {
    width: 30%;
    height: 60px;
    position: absolute;
}

.btn-info {
    margin: 12px;
}

.imaging {
    width: 100%;
    /*    height: 500px;*/
    opacity: 0.7;
}

.home {
    width: 80%;
    position: relative;
    left: 10%;
    background-size: contain;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

#aim1 {
    background-color: #000;
    width: 30%;
    height: 30px;
    margin: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

#aim2 {
    background-color: #fcc427;
    width: 30%;
    height: 30px;
    margin: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

#aim3 {
    background-color: #000;
    width: 30%;
    height: 30px;
    margin: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.aim1 {
    font-family: cursive;
    font-size: 1em;
    color: #fcc427;
    text-align: center;
    margin: 5px;
}

.aim2 {
    font-family: cursive;
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

.aim3 {
    font-family: cursive;
    font-size: 1em;
    color: #fcc427;
    text-align: center;
    margin: 5px;
}

.plat {
    color: #fcc427;
}

.reasons {
    color: #000;
    font-size: 1.2em;
    font-family: serif;
}

.chars {
    color: #fcc427;
}

.detailing {
    color: #efefef;
    text-align: center;
    font-family: cursive;
    size: 1.0em;
    padding-top: 50px;
    padding-left: 5px;
}

.detailing2 {
    color: #000;
    text-align: center;
    font-family: cursive;
    size: 1.0em;
    padding-top: 50px;
    padding-left: 5px;
}

.quality {
    color: #fcc427;
    font-size: 1.1em;
    font-family: serif;
    font-weight: 200;
    text-align: center;
}

#about {
    background-color: crimson;
    width: 100%;
    height: 300px;
}

.why {
    width: 100%;
    height: 400px;
    background-color: #000;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    /*    margin-right: 50%;*/
}

.what {
    width: 100%;
    height: 400px;
    background-color: #fcc427;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    position: relative;
    margin-top: 50px;
    margin-right: 50%;
}

.how {
    width: 100%;
    height: 400px;
    background-color: #000;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    margin-right: 50%;
}

.about1 {
    color: #fcc427;
    font-size: 1.2em;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
}

#double-underline {
    border-bottom: 5px double;
    width: 70%;
    margin-left: 10%;
    position: relative;
    left: 20px;
}

.about2 {
    color: #000;
    font-size: 1.2em;
    font-family: cursive;
    font-weight: bold;
    /*    text-decoration: underline;*/
    text-align: center;
    padding-top: 10%;
}


/*footer area*/

.navbar-inverse {
    background-color: #000;
}


/*advertisement area*/

#cats {
    width: 100%;
    height: auto;
    margin: 10px;
}

.btn-danger {
    background-color: #fcc427;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
    margin: 5px;
    text-align: center;
}

#graphic {
    color: #000;
    font-size: 1em;
    font-weight: normal;
    font-family: serif;
}

#box {
    height: 500px;
    background-color: #fcc427;
}

.main {
    width: 100%;
    height: inherit;
    margin: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.sub {
    width: 100%;
    margin: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.subf {
    width: 95%;
    height: 300px;
    margin-left: 20px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.description {
    color: #000;
    font-size: 1em;
    font-family: monospace;
}


/*clothing & fashion area*/

#bann {
    width: 100%;
    height: 500px;
    padding-left: 50%;
}

#company {
    color: #fcc427;
    background-color: #000;
    border-radius: 5px;
    width: 40%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.2em;
    margin-left: 30%;
    padding-top: 10px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.shoes {
    width: 100%;
    height: inherit;
    margin-bottom: -10%;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.desc {
    background-color: #000;
    width: 85%;
    height: 8%;
    margin-left: 15px;
}

.description {
    color: #fcc427;
    font-size: 1.2em;
    font-family: serif;
    text-align: center;
    font-weight: bold;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*hotel & food category*/

#banner {
    width: 100%;
    height: auto;
}

.category-title {
    color: #000;
    background-color: #efe;
    border-radius: 20px;
    opacity: 0.6;
    width: 30%;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5em;
    position: absolute;
    margin-left: 35%;
    padding-top: 14px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.details {
    background-color: #ffa72b;
    width: 100%;
    height: 150px;
    color: #efefef;
    text-align: left;
    font-family: cursive;
    size: 1.5em;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 5px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.details2 {
    background-color: #6b4e40;
    width: 100%;
    height: 150px;
    color: #ffa72b;
    text-align: left;
    font-family: cursive;
    size: 1.5em;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 5px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}

.img-responsive {
    width: 100%;
    height: 150px;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.59);
}


/*contact area*/

#contact_area {
    /*    width: 100%;*/
    height: 350px;
    background-color: #000;
}

.contact_title {
    color: #fcc427;
    text-align: center;
    font-family: cursive;
    font-size: 1.5em;
    text-decoration: underline;
/*    margin-top: 5%;*/
}

.contact_details {
    color: #fcc427;
    text-align: center;
    font-size: 1.0em;
    font-family: cursive;
    font-weight: bold;
}

#contact_area2 {
    /*    width: 100%;*/
    height: 350px;
    background-color: #fcc427;
}

.contact_title2 {
    color: #000;
    text-align: center;
    font-family: cursive;
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
/*    margin-top: 5%;*/
    
}
.clearfix{
    clear: both;
}